<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
</head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">AES Image Encryption</h1>
            <div class="container">
                <div class="row">
                    <% if(success){ %>
                        <div class="col-6">
                            <div class="alert alert-success" role="alert"> You should see the image below if your input is correct.</div>
                        </div>
                        <% } else { %>
                        <div class="col-6">
                            <div class="alert alert-danger" role="alert">Error - <%= output %></div>
                        </div>
                        <% } %>
                    <div class="col-6">
                        <button class="btn btn-primary my-2" id="saveImage">Save Image</button>
                        <button class="btn btn-secondary my-2" id="backHome">Return to homepage</button>
                    </div>
                    <div class="col-12">
                        <img id="decryptedImage" src="data:image/jpeg;base64,<%= output %>"} style="max-width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </body>
        <%- include('../components/foot'); %>
        <script>
        $("#saveImage").click(function(){
            var element = document.createElement('a');
            element.setAttribute('href', 'data:image/jpeg;base64,<%= output %>');
            element.setAttribute('download', "decryptedImage");
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        })
        </script>
</html>